[submodule "themes/hugo-coder-custom"]
	path = themes/hugo-coder-custom
	url = https://github.com/osak/hugo-coder-custom
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
