@import "webmention";

.photo-list {
    display: block;
}

body {
    line-height: 1.5em;
}

p, .content article p {
    text-align: inherit;
    text-indent: 1em;
    line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
    code {
        font-size: inherit;
    }
}