{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
              {{ .Title }}
            </a>
          </h1>
        </div>
        <div class="post-meta">
          <div class="date">
            <span class="posted-on">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
                {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              </time>
            </span>
            <span class="reading-time">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {{ i18n "reading_time" .ReadingTime }}
            </span>
          </div>
          {{ with .Page.Params.Authors }}{{ partial "taxonomy/authors.html" . }}{{ end }}
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <div>
        {{ if .Params.featuredImage }}
          <img src='{{ .Params.featuredImage }}' alt="Featured image"/>
        {{ end }}
        {{ .Content }}
      </div>

      <footer>
        <div id="webmentions"></div>
        {{- if .Params.HatenaStar -}}
          {{ partial "posts/hatenastar.html" . }}
        {{- end -}}
        {{ partial "posts/share.html" . }}
        {{ partial "posts/series.html" . }}
        {{ partial "posts/disqus.html" . }}
        {{ partial "posts/commento.html" . }}
        {{ partial "posts/utterances.html" . }}

        <div class="h-entry" style="display:none">
          <!-- Invisible microformats for content generation of Bridgy Fed -->
          <div class="e-content">
            ブログ更新: {{ .Title }}<br>
            <a class="u-url" href="{{ .Permalink | safeURL }}">{{ .Permalink | safeURL }}</a>
          </div>
          <time class="dt-published" datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'></time>
          <a class="u-bridgy-fed" href="https://fed.brid.gy/"></a>
        </div>
      </footer>
    </article>

    {{ partial "posts/math.html" . }}
    <script src="/webmention.min.js" async></script>
  </section>
{{ end }}
