{{ define "content"}}
    <section class="container centered">
        <div class="error">
            <div>
                <h1>404</h1>
                <h2>Page not found</h2>
                <hr>
                <p>かつてここはメモ用紙2.0と呼ばれていました。もしかしたら以下のURLに求めているものがあるかもしれません。</p>
                <p><a id="maybe-link" href="http://memoyoushi-archive.osak.jp">http://memoyoushi-archive.osak.jp</a></p>
            </div>
            <script>
                var path = document.location.pathname;
                var hash = document.location.hash;
                var elem = document.getElementById('maybe-link');
                var url = "http://memoyoushi-archive.osak.jp" + path + hash;
                elem.href = elem.innerText = url;
            </script>
        </div>
    </section>
{{ end }}